.subheader {
  background: linear-gradient(
    to bottom,
    var(--header-gradient-top),
    var(--header-gradient-bottom)
  );
  position: relative;
  height: 280px;
}

.container {
  max-width: var(--site-width);
  margin: 0 auto;
  padding: 40px 10px;
  display: flex;
  justify-content: space-between;
}
